dist: xenial

notifications:
  email: false

language: c

services:
  - docker

env:
  global:
    - BUILDER_URL=https://github.com/Andy2244/openwrt-package-builder/archive/v1.0.2.tar.gz
    - DEPLOY_PATH=builder/bin-18.06.2-x86-64/bin/packages/x86_64/extra

install:
  - curl -L $BUILDER_URL | tar xz
  - mv openwrt-package-builder* builder
  - cd builder
  - chmod +x builder.sh

script:
  - bash builder.sh build $TRAVIS_BUILD_DIR/config.txt

before_deploy:
  - cp $TRAVIS_BUILD_DIR/index.html $TRAVIS_BUILD_DIR/$DEPLOY_PATH/index.html

deploy:
  - provider: releases
    api_key:
      secure: UfgiBn0RJBEC+MMJd7jF1LPYjtaqmgc2H1M3uru3DXUfLYvg2qTQWKaWK6UijkpV8K3IuposWPwzCOsdEyr0WmKcMiJZTiLu9oBvK9wXGlEhzH199v9ft3FjyiRHwPyUJ/c3un2R2IK9dbo3Ja9UJJpOe2DNWfr3SAUIGKJvkGS/WKBUZ10vRQr2QzIftgFiDfCfKE7E2oBLUUTTaw3n9ehsUKy1W7syN1jRJXlPO8Yxf8Fu4Rq2evY9NVIGJqAnEDwdRCfd70V3OQxC1B0P9byDotZUAnY+E7oC0I0pQJ0ywyYF+emEpk2TMQ9DREizhSRrqPqm0LhShnYp1tqSJvcMqEqhOdhdGY9pd4TMdENwXhPXC9Ngjlns92O+DkZNlX6fg0NlNUidUb6bYz0EwH6JRWAenAgoca8nUt2mE+wTBsW0oAMchYWK0+h4FGaBahnELCKSa4PO/R8OrbjSPLZlSoNOqtImugqz8zav7Pg3s7ffgHA42yz2Au725T/7wDolCVwmXLzR+OryNt09Dn1nHFMMuD3hN0u/uqE3Rz96OCHfI5+wDXuEZlblsSI8AbyWcjGY/dqHBmBXSL2FtTxZCB6LN44BWUIlkE++L3IFm0uFiF6jM/Vo04is83eo/7J/bX9Dg9wWxtMmmhWfAbO2KGs80tj0iKwG8whwpcU=
    file_glob: true
    file: "**/*clash*.ipk"
    skip_cleanup: true
    on:
      tags: true
  - provider: pages
    local_dir: $TRAVIS_BUILD_DIR/$DEPLOY_PATH
    skip_cleanup: true
    github_token:
      secure: UfgiBn0RJBEC+MMJd7jF1LPYjtaqmgc2H1M3uru3DXUfLYvg2qTQWKaWK6UijkpV8K3IuposWPwzCOsdEyr0WmKcMiJZTiLu9oBvK9wXGlEhzH199v9ft3FjyiRHwPyUJ/c3un2R2IK9dbo3Ja9UJJpOe2DNWfr3SAUIGKJvkGS/WKBUZ10vRQr2QzIftgFiDfCfKE7E2oBLUUTTaw3n9ehsUKy1W7syN1jRJXlPO8Yxf8Fu4Rq2evY9NVIGJqAnEDwdRCfd70V3OQxC1B0P9byDotZUAnY+E7oC0I0pQJ0ywyYF+emEpk2TMQ9DREizhSRrqPqm0LhShnYp1tqSJvcMqEqhOdhdGY9pd4TMdENwXhPXC9Ngjlns92O+DkZNlX6fg0NlNUidUb6bYz0EwH6JRWAenAgoca8nUt2mE+wTBsW0oAMchYWK0+h4FGaBahnELCKSa4PO/R8OrbjSPLZlSoNOqtImugqz8zav7Pg3s7ffgHA42yz2Au725T/7wDolCVwmXLzR+OryNt09Dn1nHFMMuD3hN0u/uqE3Rz96OCHfI5+wDXuEZlblsSI8AbyWcjGY/dqHBmBXSL2FtTxZCB6LN44BWUIlkE++L3IFm0uFiF6jM/Vo04is83eo/7J/bX9Dg9wWxtMmmhWfAbO2KGs80tj0iKwG8whwpcU=
    on:
      branch: dev